    <!-- modal Start -->
    <div id="info-modal" class="modal">
        <div class="modal__wrap">
            <div class="modal__content">
                <span class="modal__close">Close</span>
                <div class="vertical-scroll">
                    <div class="vertical-scroll__content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. In accusantium, aliquid ab doloribus quo possimus minus dolorem. Sequi explicabo quidem rem veniam rerum itaque consectetur accusamus, impedit molestiae ut enim!</p>
                    </div>
                    <div class="vertical-scroll__line">
                        <div class="vertical-scroll__drag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->

    <!-- Plugin scripts -->
    <script src="js/swiper-bundle.min.js"></script>

    <!-- Scripts -->
    <script src="js/scripts.js"></script>
    
    </body>
</html>