<!DOCTYPE html>
<html lang="en">
    <head>

        <title>@@title</title>

        <meta name="description" content="@@description">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/swiper-bundle.min.css">

        <link rel="icon" href="favicon.ico">

    </head>
    <body>

    <!-- header Start -->
    <header class="header">
        <div class="header__container">
            <div class="header__in">
                <a href="#" class="header__logo">Epc<br> Hunters</a>
                <div class="menu-btn">
                    <span class="menu-btn__text">Loren Ipsum</span>
                    <span class="menu-btn__icon"></span>
                </div>
                <div class="header__col">
                    <nav class="header__main-nav">
                        <ul>
                            <li>
                                <a href="#">Loren Ipsum</a>
                            </li>
                            <li>
                                <a href="#">Loren Ipsum</a>
                            </li>
                            <li>
                                <a href="#">Loren Ipsum</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="link">
                        <span class="link__text">Loren Ipsum</span>
                        <span class="link__icon">Arrow</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->