/* root */
:root {

  /* text color */
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #F6FFD2;
  --tertiary-text-color: #000000;
  --quaternary-text-color: #819d14;
  --fifth-text-color: #5E7600;
  --sixth-text-color: #F2F3EF;

  /* font-family */
  --primary-font-family: "Actay", sans-serif;
  --secondary-font-family: "ActayWide", sans-serif;
  --tertiary-font-family: "Inter", sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 700;

  /* border-color */
  --primary-border-color: #FFFFFF;

  /* btn-color */
  --primary-btn-color: #FFFFFF;
  --secondary-btn-color: #819d14;
  --tertiary-btn-color: #5E7600;

  /* background-color */
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F6FFD2;
  --tertiary-background-color: #5E7600;
  --quaternary-background-color: #000000;
  --fifth-background-color: #d4d4d4;
  --sixth-background-color: #777777;

  }